<div class="row">
  <div class="col-8 offset-2">
    <h3 class="text-center">Names and Shames: New</h3>
    <ul id="shame-list" class="list-group scroll">
      <span class="rounded-0"></span>
      <!--{{#each entries}}-->
      <li data-id="{{this.id}}" class="list-group-item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <h4 class="card-text">{{this.shame}}</h4>
          </div>
          <h6 class="mb-2 text-muted text-right">Added {{this.dateAdded}}</h6>
        </div>
      </li>
      <!--{{/each}}-->
      <span class="rounded-0"></span>
    </ul>
    <h3 class="text-center">Names and Shames: Top</h3>
    <ul id="shame-list" class="list-group scroll">
      <span class="rounded-0"></span>
      <!--{{#each entries}}-->
      <li data-id="{{this.id}}" class="list-group-item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <h4 class="card-text">{{this.shame}}</h4>
          </div>
          <h6 class="mb-2 text-muted text-right">Added {{this.dateAdded}}</h6>
        </div>
      </li>
      <!--{{/each}}-->
      <span class="rounded-0"></span>
    </ul>
  </div>
</div>
